*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 6px 16px;
  background-color: #93c;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  cursor: pointer;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  background-color: #060606;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.container {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.global-modalWindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 90vh !important;
  margin: 20px 0 100px 0;
  padding: 30px;
  background-color: #060606;
  border: 1px solid #93c;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  z-index: 1000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
}

.global-modalWindow .close-window {
  height: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.global-modalWindow .close-window__icon {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.global-modalWindow .close-window:hover .close-window__icon {
  color: #93c;
  width: 50px;
  height: 50px;
  border: 1px solid #93c;
}

.global-modalWindow h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
}

.global-modalWindow #project-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.global-modalWindow #project-data input {
  width: 48%;
  margin: 10px;
  padding: 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #282828;
  color: #fff;
}

.global-modalWindow #preview-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.global-modalWindow #preview-data input {
  width: 48%;
  margin: 10px;
  padding: 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #282828;
  color: #fff;
}

.global-modalWindow #image-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.global-modalWindow #image-data input {
  margin: 10px;
  padding: 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #282828;
  color: #fff;
  cursor: pointer;
}

.global-modalWindow .btn-global-windowData__save {
  margin-top: 30px;
  padding: 20px;
  width: 100%;
}

.modalWindowShow {
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important;
  opacity: 1 !important;
}

.globalModalWindowShow {
  -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.header {
  width: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-logo {
  font-size: 24px;
  color: #fff;
}

.header-modalWindow {
  position: absolute;
  top: 40%;
  left: 0;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header-modalWindow form {
  background-color: #060606;
}

.header-modalWindow input {
  margin-right: 15px;
  padding: 5px 10px;
  background-color: #282828;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 14px;
  line-height: 21px;
  border: none;
  outline: none;
  width: 300px;
  padding: 7px 15px;
}

.content {
  margin: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.content-table__card {
  width: 300px;
  height: 170px;
  background-color: #282828;
  color: #adafae;
  border: 1px solid #93c;
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
}

.card--header {
  padding: 12px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card--content {
  padding: 12px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card--content__number {
  font-size: 2.5rem;
  padding: 0;
  margin-top: 20px;
}

.card--content__descr {
  padding: 0;
  margin-top: 20px;
}

.content-preview {
  background-color: #282828;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.content-preview__header {
  margin-bottom: 0;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #adafae;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.content-preview__image {
  width: 100%;
  height: 200px;
}

.content-preview {
  width: 35%;
}

.content-preview__descr {
  padding: 12px 20px;
  color: #adafae;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.content-preview__info {
  padding: 12px 20px;
  color: #555555;
}

.list-projects__header {
  height: 70px;
  padding: 20px 0;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-projects__header--title {
  font-size: 2rem;
  color: #adafae;
}

.list-projects__title {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(28, 28, 28, 0.9);
  border-bottom: 2px solid #282828;
}

.list-projects__title--item {
  width: 25% !important;
}

.list-projects__item {
  width: 100% !important;
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #282828;
}

.list-projects__item--col {
  width: 25% !important;
}

#project-extra {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#project-edit {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: 30px;
  cursor: pointer;
}

#project-edit:hover {
  color: #93c;
}

#project-delete {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#project-delete:hover {
  color: #93c;
}
/*# sourceMappingURL=style.css.map */