// ========== Variables ========== //

$indigo: #6610f2;
$pink: #e83e8c;
$teal: #20c997;
$white: #fff;
$black: #060606;
$gray: #282828;
$gray-dark: #222;
$gray-opacity: #555555;
$gray-light: #adafae;
$primary: #2a9fd6;
$success: #77b300;
$info: #93c;
$warning: #f80;
$danger: #c00;

$transition: .3s;
